{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<!-- ABOUT SECTION -->
<section class="about-area">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="about-image">
                <img src="./img/about-us.png" alt="About us" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 about-title">
            <h2 class="text-uppercase pt-5" style="margin-right: 6rem;">
                <span>About The Code</span>
            </h2>
            <div class="paragraph py-4 w-75">
                <p class="para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum iure obcaecati vel
                    possimus officia maiores perferendis ut! Quos, perspiciatis.
                </p>
                <p class="para">
                    It is a long established fact that a reader will be distracted by the readable content
                    of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to using 'Content here, content
                    here
                </p>
            </div>
            <button type="button" class="btn btn-primary">Let's Go!</button>
        </div>
    </div>
</div>
</section>
<br>
<br>
<br>

{% endblock content %}